@import "tailwindcss"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: 90vh;
    max-width: 1280px;
    margin: auto;
    padding: 15px;
}